#output {
  margin-top: 10vh;
  font-size: 4em;
  text-align: center;
  background-color: white;
}

.calculator {
  max-width: 30vw;
  min-height: 45vw;
  border-radius: 10px;
  background-color: #CCE3EB;
  padding: 1vh;
  margin: 10vh auto;
}

.calculator h1 {
  text-align: center;
}
