#output {
  margin: 2vh 1vw;
  font-size: 4em;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  min-height: 1.5em;
}

.calculator {
  max-width: 50vw;
  min-height: 75vh;
  border-radius: 10px;
  background-color: #CCE3EB;
  padding: 1vh;
  margin: 10vh auto;
}

.calculator h1 {
  text-align: center;
}

button.btn {
  display: block;
  margin: auto;
}
